<!DOCTYPE html>
<html>
<head>
  <title>Green Cycle Pack</title>
</head>
<body>
  <h2>Enter Product Dimensions</h2>
  <form method="POST" action="/suggest">
    <label for="user_id">User ID:</label>
    <input type="text" name="user_id" placeholder="Enter your user ID">
<br>
<br>
    Length (cm): <input type="number" name="length" min="1" placeholder="eg: 25" required><br><br>
    Width (cm): <input type="number" name="width" min="1" placeholder="eg: 25" required><br><br>
    Height (cm): <input type="number" name="height" min="1" placeholder="eg: 25" required><br><br>
    <button type="submit">Suggest Packaging</button>
  </form>
</body>
</html>
